<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TonyOwl</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
    <link rel="stylesheet" href="tonyowl.css">
</head>
<body>
    <div class="container">
        <header id="header" class="larger-header">
            <ul class="fly-in-text name hidden">
                <li class="name-font">Enhui</li>
                <li class="name-font">Guo</li>
            </ul>
            <ul class="fly-in-text link hidden">
                <li><a class="fa fa-linkedin fa-fw" href="https://www.linkedin.com/in/enhui-guo-b7a265105/?ppe=1"></a></li>
                <li><a class="fa fa-github fa-fw" href="https://github.com/EnhuiGuo"></a></li>
                <li><a class="fa fa-facebook-official fa-fw" href="https://www.facebook.com/enhui.guo"></a></li>
            </ul>
            <canvas id="canvas"></canvas>
        </header>

        <div id="datou">
            <ul class="fly-in-text link hidden" style="margin-top:10px;">
                <li><a class="fa fa-linkedin fa-fw" href="https://www.linkedin.com/in/enhui-guo-b7a265105/?ppe=1"></a></li>
                <li><a class="fa fa-github fa-fw" href="https://github.com/EnhuiGuo"></a></li>
                <li><a class="fa fa-facebook-official fa-fw" href="https://www.facebook.com/enhui.guo"></a></li>
            </ul>
        </div>

        <div id="content" class="w3-light-grey" style="background-color:aliceblue;">
            <div id="app" class="w3-row-padding">
                <div class="w3-third">
                    <div class="w3-white w3-text-grey w3-card-4">
                        <div class="w3-display-container">
                            <img src="desktop-asian-girl-beautiful-wallpapers-172302.jpg" style="width:100%" alt="Avatar">
                        </div>
                        <div class="w3-container">
                            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Web Developer</p>
                            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Little Rock, US</p>
                            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>eguo@harding.edu</p>
                            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>(501)-827-8931</p>
                            <hr>

                            <!--<p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
                            <p>Adobe Photoshop</p>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">10%</div>
                            </div>
                            <p>Photography</p>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
                                    <div class="w3-center w3-text-white">80%</div>
                                </div>
                            </div>
                            <p>Illustrator</p>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
                            </div>
                            <p>Media</p>
                            <div class="w3-light-grey w3-round-xlarge w3-small">
                                <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
                            </div>
                            <br>-->

                            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
                            <p>English</p>
                            <div class="w3-light-grey w3-round-xlarge">
                                <div class="w3-round-xlarge w3-teal" style="height:24px;width:80%"></div>
                            </div>
                            <p>Chinese</p>
                            <div class="w3-light-grey w3-round-xlarge">
                                <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
                            </div>
                            <!--<p>German</p>
                            <div class="w3-light-grey w3-round-xlarge">
                                <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
                            </div>-->
                            <br>
                        </div>
                    </div><br>
                    <!-- End Left Column -->
                </div>
                <div class="w3-twothird">
                    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-tasks fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>Web Developer / Compsys, AR US</b></h5>
                            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
                            <p>
                                As a Web Developer(C# ASP.NET).
                                Build new web projects for our client and update the old projects.
                                Use Asp.Net 4.5 and Core, Entity Framework, SignalR, C#, HTML, CSS, SASS, JavaScript, JQuery, D3.Js,
                                BootStrap, AngularJS, DataTables ,KnockOutJs,Linq, Microsoft Dynamics, MS Sql Server 2008, to develop
                                enterprise website for our client.
                            </p>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>Web Developer / Zhi Yun information, China</b></h5>
                            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2014 - Aug 2014</h6>
                            <p>Used HTML, CSS, Javascript, JQuery and Ajax to develop and maintain a web application</p>
                            <hr>
                        </div>
                    </div>

                    <div class="w3-container w3-card-2 w3-white w3-margin-bottom">
                        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-university fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>Harding University</b></h5>
                            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2011 - 2015</h6>
                            <p>Bachelor's degree, Computer Science</p>
                            <hr>
                        </div>
                        <div class="w3-container">
                            <h5 class="w3-opacity"><b>西北大学</b></h5>
                            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2008 - 2011</h6>
                            <p>Computer Engineering</p><br>
                        </div>
                    </div>

                    <div id="skills" class="w3-container w3-card-2 w3-white">
                        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Skills</h2>

                        <div class="group">
                            <input type="text" v-model="search" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Type the skill you want to see</label>
                        </div>

                        <div class="w3-container" style="margin-bottom:20px;">
                            <div v-for="skill in filteredSkills">
                                <p>{{skill.name}}</p>
                                <div class="w3-light - grey w3-round - xlarge w3-small">
                                    <div class="w3-container w3-center w3-round-xlarge w3-teal" v-bind:style="{width:skill.value}">{{skill.value}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Right Column -->
                </div>
            </div>
            <footer>
                <div id="foot" class="w3-container w3-teal w3-center w3-margin-top">
                    <p>Powered by w3.css</a></p>
                </div>
            </footer>
        </div>
    </div>

    <script src="js/demo-2.js"></script>

    <script>
        $(document).ready(function () {
            setTimeout(function () {
                $('.fly-in-text').removeClass('hidden');
            }, 500);

            // ripple effect
            //    $(".sss").click(function (e) {

            //        // Remove any old one
            //        $(".ripple").remove();

            //        // Setup
            //        var posX = $(this).offset().left,
            //            posY = $(this).offset().top,
            //            buttonWidth = $(this).width(),
            //            buttonHeight = $(this).height();

            //        // Add the element
            //        $(this).prepend("<span class='ripple'></span>");


            //        // Make it round!
            //        if (buttonWidth >= buttonHeight) {
            //            buttonHeight = buttonWidth;
            //        } else {
            //            buttonWidth = buttonHeight;
            //        }

            //        // Get the center of the element
            //        var x = e.pageX - posX - buttonWidth / 2;
            //        var y = e.pageY - posY - buttonHeight / 2;


            //        // Add the ripples CSS and start the animation
            //        $(".ripple").css({
            //            width: buttonWidth,
            //            height: buttonHeight,
            //            top: y + 'px',
            //            left: x + 'px'
            //        }).addClass("rippleEffect");
            //    });
        });

        //Vue.component("skill-list", {
        //    data: function () {
        //        return {
        //            skills: [
        //                { name: "cs", value: "10%" },
        //                { name: "cs", value: "100%" },
        //                { name: "cs", value: "10%" }
        //            ]
        //        }
        //    },
        //    template: '<div><div v-for="skill in skills"><p>{{skill.name}}</p><div class="w3-light - grey w3-round - xlarge w3-small"><div class="w3-container w3-center w3-round-xlarge w3-teal" v-bind:style="{width:skill.value}">10%</div></div></div></div>'
        //});

        var skill = new Vue({
            el: '#skills',
            data: {
                search: "",
                skills: [
                    { name: "daxiong", value: "50%" },
                    { name: "er", value: "100%" },
                    { name: "woxiangcaozhaolu", value: "100%" }
                ]
            },

            computed: {
                filteredSkills() {
                    return this.skills.filter(skill => {
                        return skill.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
                    })
                }
            }
        });
    </script>
</body>
</html>