@font-face {
    font-family: 'Clicker Script';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/clicker-script-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Clicker Script'), local('ClickerScript-Regular'), url('fonts/clicker-script-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/clicker-script-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/clicker-script-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/clicker-script-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/clicker-script-v4-latin-regular.svg#ClickerScript') format('svg'); /* Legacy iOS */
}

* {
    margin: 0;
}

body {
    background-color: #f1f1f1 !important;
}

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

p {
    margin: 15px 0px;
}

.fly-in-text {
    display: table;
    list-style: none;
    position: relative;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);

    li {
        display: inline-block;
        margin-right: 35px;
        font-weight: normal;
        font-size: 4em;
        padding-left: 10px;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
        color: #f9f1e9;
        opacity: 1;
        transition: all 2.5s ease;

        a {
            text-decoration: none;
            transition: all 1s ease;
        }
    }
}

.name-font {
    font-family: 'Clicker Script';
    font-size: 8em !important;
}

.fly-in-text li:last-child {
    margin-right: 0;
}

.fly-in-text.hidden li {
    opacity: 0;
}

.fly-in-text.name.hidden li:nth-child(1) {
    transform: translateX(random(200)-100+px) translateY(random(200)-100+px);
}

.fly-in-text.name.hidden li:nth-child(2) {
    transform: translateX(random(200)-100+px) translateY(random(200)-100+px);
}

.fly-in-text.link.hidden li:nth-child(1) {
    transform: translateX(random(200)-100+px) translateY(random(200)-100+px);
}

.fly-in-text.link.hidden li:nth-child(2) {
    transform: translateX(random(200)-100+px) translateY(random(200)-100+px);
}

.fly-in-text.link.hidden li:nth-child(3) {
    transform: translateX(random(200)-100+px) translateY(random(200)-100+px);
}


/*.fly-in-text.hidden li:nth-child(3) {
    transform: translateX(random(200)-100+px) translateY(random(200)-100+px);
}

.fly-in-text.hidden li:nth-child(4) {
    transform: translateX(random(200)-100+px) translateY(random(200)-100+px);
}

.fly-in-text.hidden li:nth-child(5) {
    transform: translateX(random(200)-100+px) translateY(random(200)-100+px);
}

.fly-in-text.hidden li:nth-child(7) {
    transform: translateX(random(200)-100+px) translateY(random(200)-100+px);
}

.fly-in-text.hidden li:nth-child(8) {
    transform: translateX(random(200)-100+px) translateY(random(200)-100+px);
}

.fly-in-text.hidden li:nth-child(9) {
    transform: translateX(random(200)-100+px) translateY(random(200)-100+px);
}*/

/*header {
    height: 80px;
    background-color: #009688;
    width: 100%;
    z-index: 999;
    position: fixed;
}*/

#header {
    width: 100%;
    background-image: url("img/demo-2-bg.jpg");
    background-position: center bottom;
    background-color: white;
    margin-bottom: 20px;
}

#content {
    width: 100%;
    position: relative;
    background-color: white;
}

.w3-row-padding {
    padding: 0px !important;
}

.w3-third {
    padding: 0px !important;
}

.w3-twothird {
    padding: 0px !important;
}

@media screen and (min-width: 601px) {
    .w3-third {
        padding: 0px 8px 0px 0px !important;
    }

    .w3-twothird {
        padding: 0px 0px 0px 8px !important;
    }
}

// ripple

/*.ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
}

.rippleEffect {
    animation: rippleDrop .6s linear;
}

@keyframes rippleDrop {
    100% {
        transform: scale(2);
        opacity: 0;
    }
}*/

.fa-linkedin:hover {
    color: #007bb5;
}

.fa-github:hover {
    color: #24292e;
}

.fa-facebook-official:hover {
    color: #3b5998;
}

#datou {
    height: 80px;
    background-color: #009688;
}

.stuck {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0;
}